$main-grid-background: red;

$sub-grid-color-1: green;
$sub-grid-color-2: darkgreen;
$sub-grid-hover-opacity: 80%;

.board {
    border: 1px solid black;
    width: 100%;

    overflow: hidden;
}

.base_grid {

    table {
        width: 100%;
        height: 100%;

        border-spacing: 0;

        background: $main-grid-background;

        tr {
            td {
                @keyframes hover-anim-sub-grid {
                    from {
                        opacity: $sub-grid-hover-opacity;
                    }
                    to {
                        opacity: 100%;;
                    }
                }


                border: 2px solid black;
                animation: hover-anim-sub-grid 0.25s ease-in-out;

                &:hover {
                    cursor: crosshair;
                    position: relative;
                    animation: hover-anim-sub-grid 0.25s ease-in-out reverse;
                    opacity: $sub-grid-hover-opacity;
                }                
            }
        }

        :nth-child(2n) {
            
            :nth-child(2n +1) {
                background-color: $sub-grid-color-1;
            }

            :nth-child(2n) {
                background-color: $sub-grid-color-2;
            }
        }
        
        :nth-child(2n + 1) {

            :nth-child(2n + 1) {
                background-color: $sub-grid-color-2;
            }

            :nth-child(2n) {
                background-color: $sub-grid-color-1;
            }
        }
    }
}